{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "babel-plugin-transform-decorators-legacy",
        "babel-plugin-transform-decorators",
        "transform-class-properties"
      ]
    }
  }
}
