{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-decorators-legacy",
        "plugin-transform-decorators",
        "transform-class-properties"
      ]
    }
  }
}
