# OSX
#
.DS_Store

# Xcode
#
coverage/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# BUCK
buck-out/
\.buckd/
*.keystore
*.pem
pepk.jar

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Editors
.vscode
.idea
reports

## Commercial fonts
src/assets/fonts/basierCircle/BasierCircle-Regular.otf
src/assets/fonts/basierCircle/BasierCircle-Bold.otf
src/assets/fonts/basierCircle/BasierCircle-SemiBold.otf
src/assets/fonts/gilroy/Gilroy-Bold.ttf

android/app/src/main/assets/fonts/BasierCircle-Regular.otf
android/app/src/main/assets/fonts/BasierCircle-Bold.otf
android/app/src/main/assets/fonts/BasierCircle-SemiBold.otf
android/app/src/main/assets/fonts/Gilroy-Bold.ttf
