{
    "RECOVERY_PHRASE": "A RECOVERY PHRASE FOR DEV PURPOSES",
    "NETWORK": "NETWORK IN USE",
    "SERVICE_API_BASE_URL": "SERVICE HTTP API BASE URL",
    "SERVICE_WS_BASE_URL": "SERVICE WEB SOCKETS API BASE URL",
    "SERVICE_API_VERSION": "v3",
    "PROJECT_ID": "WALLET CONNECT PROJECT ID",
    "RELAY_URL": "WALLET CONNECT RELAY URL",
    "MOCK_SERVICE_API_ENABLED": "FLAG THAT INDICATES IF SERVICE API MOCKING IS OR NOT ENABLED",
    "MOCKED_SERVICE_ENDPOINTS": "NAMES OF SERVICE ENDPOINTS TO MOCK, SEPARATED BY ';'. SHOULD FOLLOW THE DEFINED NOMENCLATURE. EXAMPLE: 'getApplications;getApplicationsMeta'",
    "APP_MODE": "USE 'mocked' FOR END TO END TESTS TO ENABLE PREDICTING RESULTS OF SOME SYSTEM AND APP FUNCTIONS"
}