{
    "passphrase": "A PASSPHRASE FOR DEV PURPOSES",
    "NETWORK": "NETWORK IN USE",
    "SERVICE_API_BASE_URL": "SERVICE HTTP API BASE URL",
    "SERVICE_WS_BASE_URL": "SERVICE WEB SOCKETS API BASE URL",
    "SERVICE_API_VERSION": "v3",
    "PROJECT_ID": "WALLET CONNECT PROJECT ID",
    "RELAY_URL": "WALLET CONNECT RELAY URL"
}