<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTH_TOKEN</key>
	<string>86e854fedf21bc8fcc2f9f38f09e4c322fc33b138cf1f33b468786f6fead57da</string>
	<key>Camera</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>CoverageMetrics</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>DataAtRestCheck</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>DebuggerDetection</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>DeviceIdentifiers</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>DeviceLocation</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>ExifLocation</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>HealthAccess</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>JailbreakDetection</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>Pasteboard</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>PhotoAccess</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>SpywareDetection</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>TamperDetection</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<false/>
	</dict>
	<key>ThirdPartyKeyboard</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Exceptions</key>
		<array/>
		<key>Restricted</key>
		<true/>
	</dict>
</dict>
</plist>
